# the core of this software is Twisted's Python Event loop.
twisted

# config is declared in YAML.
pyyaml

# allow outbound TLS connections.
# apt-get install openssl-dev libffi-dev libssl-dev
# yum install openssl-devel libffi-devel libssl-devel
pyOpenSSL

service_identity
